<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.niefy.modules.cms.dao.CmsChannelMapper">

    <resultMap id="channelDetailMap" type="com.github.niefy.modules.cms.entity.CmsChannelEntity">
        <result column="channel_id" property="channelId"/>
        <result column="channel_name" property="channelName"/>
        <result column="model_id" property="modelId"/>
        <result column="parent_id" property="parentId"/>
        <result column="channel_path" property="channelPath"/>
        <result column="priority" property="priority"/>
        <result column="status" property="status"/>
        <result column="is_display" property="isDisplay"/>

        <result column="title" property="ext.title"/>
        <result column="keywords" property="ext.keywords"/>
        <result column="description" property="ext.description"/>
        <result column="link" property="ext.link"/>
        <result column="channel_pc_path" property="ext.channelPcPath"/>
        <result column="channel_pc_content_path" property="ext.channelPcContentPath"/>
        <result column="channel_mobile_path" property="ext.channelMobilePath"/>
        <result column="channel_mobile_content_path" property="ext.channelMobileContentPath"/>
        <result column="is_blank" property="ext.isBlank"/>
        <result column="allow_share" property="ext.allowShare"/>
        <result column="allow_score" property="ext.allowScore"/>

        <result column="txt" property="txt.txt"/>
        <result column="txt1" property="txt.txt1"/>
        <result column="txt2" property="txt.txt2"/>
        <result column="txt3" property="txt.txt3"/>
        <result column="txt4" property="txt.txt4"/>
    </resultMap>

    <select id="loadChannelDetail" resultMap="channelDetailMap">
        select
          c.channel_id,
          c.channel_name,
          c.model_id,
          c.parent_id,
          c.channel_path,
          c.priority,
          c.status,
          c.is_display,

          e.title,
          e.keywords,
          e.description,
          e.link,
          e.channel_pc_path,
          e.channel_pc_content_path,
          e.channel_mobile_path,
          e.channel_mobile_content_path,
          e.is_blank,
          e.allow_share,
          e.allow_score,

          t.txt,
          t.txt1,
          t.txt2,
          t.txt3,
          t.txt4
        from cms_channel as c
          left join cms_channel_ext as e on e.channel_id = c.channel_id
          left join cms_channel_txt as t on t.channel_id = c.channel_id
        where c.channel_id = #{channelId}
    </select>

    <select id="loadAllChildAndGrandchilds" parameterType="java.lang.Long" resultType="java.lang.Long">
        select t3.channel_id from (
            select
            t1.channel_id,
            if(find_in_set(parent_id, @pids) > 0, @pids := concat(@pids, ',', channel_id), 0) as ischild
            from (
                select
                    channel_id,parent_id
                from
                    cms_channel t
                where t.status = 1
                order by parent_id, channel_id
            ) t1,
            (select @pids := 0) t2
        ) t3
        where t3.ischild != '0'
    </select>

    <update id="batchUpdateStatusByIdList" parameterType="java.util.Map">
        update cms_channel
        <trim prefix="set" suffixOverrides=",">
          <if test="statusParamMap.status !=null">
              status = #{statusParamMap.status}
          </if>
        </trim>
        <where>
            channel_id in
            <foreach collection="statusParamMap.channelIds" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
        </where>
    </update>

</mapper>